{% extends 'base.html.twig' %}

{% block title %}{{ incident.locatie.adres.straatNaam }} {{ incident.locatie.adres.huisnummer }}{% endblock %}

{% block body %}

    <h1>{{ incident.locatie.adres.straatNaam }} {{ incident.locatie.adres.huisnummer }}</h1>

    {{ dump(incident) }}


{% endblock %}
