{% extends 'base.html.twig' %}

{% block title %}Meldingen{% endblock %}

{% block body %}

    <h1>Meldingen ({{ incidents | length }})</h1>
    <ul class="list__incidents" data-testid="IncidentsList" data-controller="incident">
        {% for incident in incidents %}
        <li>
            <div class="wrapper__swipe">
                <div class="container__flex">
                    {# <a href="/incident/{{ incident.id }}"> #}
                        <div class="container__image">
                            {% if incident._detail is defined and incident._detail.fotos %}
                                <img src="{{ path('app_image_full', {'id': incident._detail.fotos|first.id}) }}"> 
                            {% else %}
                                <img src="https://via.placeholder.com/78x58?text=ProfilR" alt="" />
                            {% endif %}
                        </div>
                    {# </a> #}
                    <div class="container__info">
                    {# TODO add optional huisletter and huisnummer_toevoeging  #}
                        {# <a href="/incident/{{ incident.id }}/handle"> #}
                            <h2>{{ incident.locatie.adres.straatNaam }} {{ incident.locatie.adres.huisnummer }}</h2>
                            <span class="incident__category">
                                {{ incident.onderwerp.omschrijving }} - {{ incident.status }}
                            </span>
                            <div class="incident__moment">
                                <span>{{ incident.id }}</span>
                                <span>
                                    {{ incident.datumMelding | date('d-m-Y') }} 
                                    {{ incident.datumMelding | date('H:i') }}
                                </span>
                            </div>
                        {# </a> #}
                    </div>
                </div>
            </div>
            <button class="container__actions" data-id="{{ incident.id }}">
                <img src="{{ asset('build/icons/checkmark.svg') }}" width="20" alt="" class="checkmark-handle" id="checkMarkHandle"/>
            </button>
        </li>
        {% endfor %}
    </ul>
    
<script>
    document.querySelector("ul").addEventListener("click", (e) => {
    const li = e.target.closest("li");
    const btn = e.target.closest("button");
    
    if (li && li.scrollLeft === 0) {
        li.scrollBy({
        left: 1,
        behavior: "smooth"
        });
    } else if (!btn && li) {
        li.scrollBy({
        left: -1,
        behavior: "smooth"
        });
    } else if (btn && li) {
        const incidentID = btn.dataset.id;
        window.location.href=`/incident/${incidentID}/handle`;
        li.scrollBy({
            left: -1,
            behavior: "smooth"
        });
    }
    });

</script>
{% endblock %}
