{% extends 'base.html.twig' %}

{% block title %}Meldingen{% endblock %}

{% block body %}

    <h1>Meldingen ({{ incidents.results | length }})</h1>

    {# {{ dump(incidents.results) }} #}

    <ul class="list__incidents">
        {% for incident in incidents.results %}
        <li>
            <a href="/incident/{{ incident.id }}">
                <div class="container__image">
                    <img src="https://via.placeholder.com/78x58?text=ProfilR" alt="" />
                </div>
            </a>
            <div class="container__info">
            {# TODO add optional huisletter and huisnummer_toevoeging #}
                <h2>{{ incident.location.address.openbare_ruimte }} {{ incident.location.address.huisnummer }}</h2>
                <span class="incident__category">
                    {{ incident.category.sub }} - {{ incident.status.state_display }}
                </span>
                <div class="incident__moment">
                    <span>{{ incident.id }}</span>
                    <span>
                        {{ incident.created_at | date('d-m-Y') }} 
                        {{ incident.created_at | date('H:i') }}
                    </span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    Meldingen({{ incidents|length }})
    <ul>
    {% for incident in incidents.result %}
        <li>
            {% for k, v in incident %}
            <dl>
                <dt>{{ k }}</dt>
                <dd>{{ dump(v) }}</dd>
            </dl>
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
